{% extends 'layouts/base.html.jinja' %}
{% load static %}

{% block title %}Alain Cao Van Truong | {{ project.title }}{% endblock %}

{% block content %}
<section class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <p>{{ project.description }}</p>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ project.date }}</th>
              <td>{{ project.role }}</td>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{ project.link }}" target="_blank">View code</a>
      </div>
    </div>
    <div class="col-6">
      <img class="img-fluid" src="/{{ project.image }}" alt="">
    </div>
  </div>
</section>
{% endblock %}
